@charset "utf-8";
body,div,dl,dt,dd,ul,ol,li,h1,h2,h3,h4,h5,h6,pre,
form,fieldset,input,textarea,p,blockquote,th,td ,a{padding: 0;margin: 0;font-family:Microsoft Yahei;font-size:12px;}
table {
border-collapse: collapse;border-spacing: 0;}
fieldset,img {border: 0;}
address,caption,cite,code,dfn,em,strong,th,var{font-weight: normal;font-style: normal;}

ol,ul,li {list-style: none;}
caption,th {text-align: left;}
h1,h2,h3,h4,h5,h6 {font-weight: normal;font-size: 100%;}
q:before,q:after {content:'';}
abbr,acronym {border: 0;}
a{text-decoration:none;}
a:hover{color:#FF9966 !important;}
.clears{clear:both;}

.right{position: absolute;top:0;left: 845px;height:100%;width:100%;z-index:1;}
.right_map{position: relative;top: 15px;left:0;z-index:8;margin-left:845px;}
.right_map a{margin:0 auto;display:block;width:150px;}



























